{% extends 'base.html' %}

{% block title %}
Detalles
{% endblock %}

{% block header %}

{% endblock %}

{% block content %}
<div class="container mt-3">
    <div class="row">
        <div class="col-6">
            <img src="{{libro.imagen}}" alt="portada" style="height:500px;width:300px;">
            <br>

            <div class="d-flex mt-4 justify-content-around" style="width:300px;">
                <div>
                    <button onclick="adicionar_deseos( '{{libro.libro_id}}' )" id="popover1" class="btn"
                        data-content="Añade el libro a tu lista de deseos" rel="popover" data-placement="bottom"
                        data-original-title="Icono Deseos">
                        <img src="/media/icon/bookmarks-24px.svg" alt="icono deseos">
                    </button>
                </div>
                <div>
                    <button onclick="adicionar_rentados( '{{libro.libro_id}}' )" id="popover2" class="btn"
                        data-content="Añade el libro a tu lista de rentados" rel="popover" data-placement="bottom"
                        data-original-title="Icono Rentados">
                        <img src="/media/icon/add_shopping_cart-24px.svg" alt="icono rentados">
                    </button>
                </div>
            </div>

        </div>
        <div class="col-4" align="center">
            <strong>Titulo:</strong>
            <p>{{libro.titulo}}</p>
            <br>
            <strong>Descripcion</strong>
            <p>{{libro.descripcion}}</p>
            <br>
            <strong>Autor Y Categoria</strong>
            <p>{{libro.autor_id.nombre}}, {{libro.categoria_id.nombre}}</p>
            <br>
        </div>
    </div>
</div>

<script>
    $('#popover1').popover({ trigger: "hover" });
    $('#popover2').popover({ trigger: "hover" });

    axios.defaults.xsrfCookieName = 'csrftoken';
    axios.defaults.xsrfHeaderName = 'X-CSRFToken';

    function adicionar_deseos(libroId) {
        let u = '{{usuario_id}}'
        axios({
            method: 'post',
            url: 'http://localhost:8000/listas/crear-deseos/',
            data: {
                "libro_id": libroId,
                "usuario_id": u
            }
        }).then(response => {
            if (response.data == 'ya esta') {
                new Toast({
                    message: 'El libro ya esta en la lista',
                    type: 'danger'
                })
            }
            if (response.data == 'no es valido') {
                new Toast({
                    message: 'Ha ocurrido un error',
                    type: 'danger'
                })
            }
            console.log(response.data)
        }).catch(err => {
            new Toast({
                message: 'Ha ocurrido un error',
                type: 'danger'
            })
            console.log(err)
        })
    }

    function adicionar_rentados(libroId) {
        let u = '{{usuario_id}}'
        axios({
            method: 'post',
            url: 'http://localhost:8000/listas/crear-rentados/',
            data: {
                "libro_id": libroId,
                "usuario_id": u
            }
        }).then(response => {
            if (response.data == 'ya esta') {
                new Toast({
                    message: 'El libro ya esta en la lista',
                    type: 'danger'
                })
            }
            if (response.data == 'limite superado') {
                new Toast({
                    message: 'Ya tienes más de 5 libros en tu lista de rentados',
                    type: 'danger'
                })
            }
            if (response.data == 'no es valido') {
                new Toast({
                    message: 'Ha ocurrido un error',
                    type: 'danger'
                })
            }
            console.log(response.data)
        }).catch(err => {
            new Toast({
                message: 'Ha ocurrido un error',
                type: 'danger'
            })
            console.log(err)
        })
    }

</script>
{% endblock %}